html {
	background-color: #f9f2ec;
}
body {
	font-family: 'PT Serif', serif;
	letter-spacing: 4px;
	background-color: #f9f2ec;;
}
a:hover {
	color: #ffb3d1;
}
.form-center {
	display: block;
	text-align: center;
}
.about {
	letter-spacing: 1px;
}

.container-main {
	width: 100%;

}
.container-about {
	height: 70%;
	width: 70%;
	margin: auto;
    margin-top: 5%;

}
.container-fluid {
	padding: 10px;
}
.centered {
	position: absolute;
	display: block;
	margin: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}
.pad {
    padding: 5px;
}
.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.my-pic {
	height: 500px;
	width: 380px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.nav-bar {
	text-align: center;
	position: static;
	padding: 5px;
	margin-top: 10px;
	top: 40px;

}
#personal3 {
    text-align: center;
    padding-bottom: 25px;
    color:white;
}

#personal3 img {
    opacity:0.75;
    transition: 1s ease;
}

#personal3 img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    transition: 1s ease;
}
#panel3 {
  display: none;
    padding-left: 20px;
  padding-right:20px;
}

#personal2 {
    text-align: center;
    padding-bottom: 25px;
    color:white;
}

#personal2 img {
    opacity:0.75;
    transition: 1s ease;
}

#personal2 img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    transition: 1s ease;

}
#panel2 {
  display: none;
    padding-left: 20px;
  padding-right:20px;
}

#personal {
    text-align: center;
    margin-bottom: 25px;
    color:white;
}

#personal img {
    opacity:0.75;
    transition: 1s ease;
}

#personal img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    transition: 1s ease;
}
#panel {
  display: none;
  padding-left: 20px;
  padding-right:20px;
}

#personal4 {
    text-align: center;
    margin-bottom: 25px;
    color:white;
}

#personal4 img {
    opacity:0.75;
    transition: 1s ease;
    width: 300px;
    height: 100px;
}

#personal4 img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    transition: 1s ease;
}
#panel4 {
  display: none;
  padding-left: 20px;
  padding-right:20px;
}