html {
    background-color: #060007;
    overflow: hidden;
}
p {
    color: #ffffff;
}
a{
    color: #ffffff;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #060007;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    height: 15%;
    margin-bttom: -10%;
}

hr {
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.container-fluid {
    width: 100%;
}
.text-center {
    text-align: center;
}

.name {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.desc {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
}
.links {
    z-index: 2;
    position: relative;
}
i {
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.4em;
}
i:hover {
    color: #69f5ff;
}
i:visited {
    color: #69f5ff;
}
.container-fluid {
    overflow: hidden;
    margin-top: 5%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
    z-index: 2;
}
